body{padding:0; margin:0;}
a{
    text-decoration: none;
    color: #3f3f3f;
}
body{
    font-size: 10px;
}

body{
    background-color: #171a23;
}

header{
    height: 60px;
    width: 100%;
    display: flex;
    background-color: #171a23;
    z-index: 100;
}
header container{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: ;
    justify-content: space-between;
    align-items: center;
    background-color: #171a23;
}  

main{
    margin: 0 auto;
    width: 1200px;
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

header menu{
    width: 30vw;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

header menu a{
    color: rgba(255,255,255,.5);
    font-size: 1.8em;
    transition: color .1s linear .1s;
}

header menu a:nth-child(1)::before{
    content: "";
    display: block;
    background: url('../img/luntan.png');
    background-color: #fff;
    border-radius: 20px;
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    float: left;
    position: relative;
    left: -10px;
    width: 30px;
    height: 30px;
    z-index: 990;
}
   
header menu a:nth-child(2)::before{
    content: "";
    display: block;
    background: url('../img/qq.png');
    background-color: #fff;
    border-radius: 20px;
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    float: left;
    position: relative;
    left: -10px;
    width: 30px;
    height: 30px;
    z-index: 990;
}
   

header menu a:nth-child(3)::before{
    content: "";
    display: block;
    background: url('../img/browse.png');
    background-color: #fff;
    border-radius: 20px;
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    float: left;
    position: relative;
    left: -10px;
    width: 30px;
    height: 30px;
    z-index: 990;
}

header menu a:hover{
    color: #f3f3f3;
} 

main{
    width: 100%;
}
main video{
    width: 100%;
    position: fixed;
    z-index: -1;
} 

main .mainBtns{
    width: 400px;
    height: 60px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
} 

main .mainBtns a{
    font-size: 2.5em;
    border: 2px solid; 
    padding: 8px 12px;
    border-radius: 5px;
    background-color: transparent;
}

main .mainBtns a:nth-child(1){
    color: #417a9b;
    border-color: #417a9b;
    transition: color .2s linear .1s, border .2s linear .1s;
}

main .mainBtns a:nth-child(2){
    color: #7d9f05;
    border-color: #7d9f05;
    transition: color .2s linear .1s, border .2s linear .1s;
}

main .mainBtns a:nth-child(3){
    color: #417a9b;
    border-color: #417a9b;
    transition: color .2s linear .1s, border .2s linear .1s;
}


main .mainBtns a:nth-child(1):hover{
    color: #f3f3f3;
    background-color: #417a9b;
    border-color: #417a9b;
}

main .mainBtns a:nth-child(2):hover{
    color: #f3f3f3;
    background-color: #7d9f05;
}

main .mainBtns a:nth-child(3):hover{
    color: #f3f3f3;
    background-color: #417a9b;
}
